.bc_filters {
    margin: 0 0 19.2px 0;
    width: 100%;
}

.filter-toggle {
    display: flex;
    justify-content: space-between;
}

.filter-list-container {
    padding: 8px;
}

.filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter-list li label {
	display: flex;
	margin-bottom: 4px;
    padding: 2px 0;
}

.filter-list>li input {
    margin-right: 8px;
}